@using System.Web.UI.WebControls
@model RestaurantManagement.DAL.Model.Emploee

@{
    ViewBag.Title = "Create";
}

<h2>Отправление заявки</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="dl-horizontal">
        <h4>Emploee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Fullname, "Ф.И.О", htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fullname, "Заполните поле.", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dob, "День рождения", htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Dob, Model != null ? $"{Model.Dob:yy-MMM-dd ddd}" : null,
                    htmlAttributes : new { @class = "form-control ui-datepicker-multi",@type="text", @id = "DateOfBirthdayDatePicker" })

                @Html.ValidationMessageFor(model => model.Dob, "Заполните поле.", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Education, "Где учились", htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Education, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Education, "Заполните поле.", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Experience, "Опыт работы", htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Experience, "Заполните поле.", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phonenumber, "Ваш номер телефона", htmlAttributes: new { @class = "col-form-label col-md-4" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Phonenumber, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Phonenumber, "Заполните ваш тел.номер без +7", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, "Ваш адрес : ", htmlAttributes: new { @class = "col-form-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "Заполните поле.", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Skills, "Ваши достижения", htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Skills, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Skills, "Заполните поле.", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, "Ваш логин/email", htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "example@gmail.com" } })
                @Html.ValidationMessageFor(model => model.Username, "Заполните поле.", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emppassword, "Ваш пароль.", htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emppassword, new { htmlAttributes = new { @class = "form-control",@type="password" } })
                @Html.ValidationMessageFor(model => model.Emppassword, "Заполните поле.", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Jobid, "Должность", htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Jobid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Jobid, "Выберите из списка", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" class="btn btn-outline-dark">
                Отправить заявку
                    </button>
            </div>
        </div>
    </div>
}
@section scripts
{
    <script>
        $(function() {
            $( "#DateOfBirthdayDatePicker" ).datepicker({
                dateFormat: 'dd-mm-yy',
                changeMonth : true,
                changeYear : true,
                yearRange: '-100y:c+nn',
                maxDate: '-18y'
                , showAnim:'clip'
            });
        });
    </script>
}
