@model RestaurantManagement.DAL.Model.EatType

@{
    ViewBag.Title = "ReservationTable";
}

<div class="container-fluid">
@using (Html.BeginForm("AddEatType", "Home"))
{
    <h2>Добавление типа еды</h2>
    @Html.AntiForgeryToken()
<div class="dl-horizontal">
   
    @Html.ValidationSummary(true, "1 Error Message", new { @class = "text-danger" })
    <div class="form-group">
       
        @Html.LabelFor(model => model.EatTypeName, "Наименование типа еды", htmlAttributes: new {@class = "col-form-label col-md-6"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.EatTypeName, new {htmlAttributes = new {@class = "form-control"}})
            @Html.HiddenFor(h=>h.TypeId)
            @Html.ValidationMessageFor(model => model.EatTypeName, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 col-md-10">
            <button type="submit" class="btn 
                    @if (Model == null)
                    {
                        @:btn-outline-primary
                    }
                    else
                    {
                        @:btn-outline-success
                    }
                    ">
                @if (Model == null)
                {
                    @:Создать
                }
                else
                {
                    @:Сохранить
                }

            </button>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "EatTypeList", "Home", htmlAttributes: new { @class = "btn btn-info" })
</div>
</div>