@using RestaurantManagement.DAL.Model;
@model List<Item>
@{
    ViewBag.Title = "ListMenu";
}

<h2>ListMenu</h2>
@if (ViewBag.state == 0)
{
    <div class="alert alert-success alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.message
    </div>
}
else if (ViewBag.state == 1)
{
    <div class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.message
    </div>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @{
            int lastId = Model.Last().itemid;
        }
        @foreach (Item menu in Model)
        {
            <tr @if (lastId == menu.itemid) { <text>
              style="background-color:lightgreen" title="Последняя добавленная запись"
                </text>  }>
                <td style="vertical-align: middle;text-align:center">@menu.itemid</td>
                <td style="vertical-align: middle;text-align:center">@menu.itemName</td>
                <td style="vertical-align: middle;text-align:center" >@menu.itemDesc</td>
                <td style="vertical-align: middle;text-align:center">@($"{menu.cost:##.000}")</td>
                <td style="vertical-align: middle;text-align:center">
                    <a href="@Url.Action("DeleteMenu", "RestaurantMenu", new{menuItemId=menu.itemid})" title="Удалить текущую запись" class="btn btn-danger">
                        Удалить
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
