@using RestaurantManagement.DAL.Model;
@using RestaurantManagement.Web.Controllers
@model List<Item>
@{
    ViewBag.Title = "ListMenu";

}

<h2>ListMenu</h2>
@if (ViewBag.state == 0)
{
    <div class="alert alert-success alert-dismissible fade show">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.message
    </div>
}
else if (ViewBag.state == 1)
{
    <div class="alert alert-danger alert-dismissible fade show">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.message
    </div>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th style="vertical-align: middle;text-align:center">Номер</th>
            <th style="vertical-align: middle;text-align:center">Наименование</th>
            <th style="vertical-align: middle;text-align:center">Описание</th>
            <th style="vertical-align: middle;text-align:center">Цена</th>
            <th style="vertical-align: middle;text-align:center">Действие</th>
        </tr>
    </thead>
    <tbody>
        @{
            int lastId = 0;
            if (Model.Any())
            {
                lastId = Model.Last().Itemid;
            }
        }
        @foreach (Item menu in Model)
        {
            <tr @if (lastId == menu.Itemid) { <text>
                style="background-color:rgb(50, 204, 49)" title="Последняя добавленная запись"
                </text> }>
                <td style="vertical-align: middle;text-align:center">@menu.Itemid</td>
                <td style="vertical-align: middle;text-align:center">@menu.ItemName</td>
                <td style="vertical-align: middle;text-align:center">@menu.ItemDesc</td>
                <td style="vertical-align: middle;text-align:center">@($"{menu.Cost:##.000}")</td>
                <td style="vertical-align: middle;text-align:center">
                    <a href="@Url.Action("DeleteMenu", "RestaurantMenu", new{menuItemId=menu.Itemid})" 
                           title="@if (EmploeesController.IsLoggedIn)
                                  {
                                      @:Удалить текущую запись
                                  }
                                  else
                                  {
                                      @:Вы не можете ничего сделать до тех пор пока не войдете в систему
                                  }"
                       class="btn btn-danger  @if (!EmploeesController.IsLoggedIn)
                                             {
                                                 @:disabled
                                             }
                                             else
                                             {
                                                 @:active
                                             }">
                       Удалить
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
